html{
    padding: 0;
    margin: 0;
}


.square{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: darkblue;

}

.conteneur{
    width: 800px;
    height: 800px;
    margin: 10px;
    background-color: #888888;
}

.explosion{
    position: relative;
    background-color: black;
    width: 60px;
    height: 60px;
}